
:root {
    --color--blue: #0B3D5E;
    --color--teal: #38A39E;
    --color--tan: #EAE7DC;
    --color--blue-lt: #CBD6DB;
    --color--teal-lt: #DBE8E2;
    --color--text: #48545A;
    --font--main: 'Raleway', sans-serif;
    --font--alt: 'Taviraj', serif;
    --text-size--s: .875rem; /* 14px */
    --text-size--m: 1rem; /* 16px */
    --text-size--l: 1.16625rem; /* 18.66px, for large text under WCAG when bold */
    --text-size--xl: 1.3125rem; /* 21px */
    --text-size--h1: 2.8125rem; /* 45px */
    --text-size--h2: 2.1875rem; /* 35px */
    --text-size--h3: 1.5rem; /* 24px */
    --transition--short: .25s;
    --transition--med: .6s;
    --transition--long: .75s;
}

#cal-home-mortgage {
    font-family: var(--font--main);
    font-weight: 400;
}

#cal-home-mortgage h2 {
    font-family: var(--font--alt);
    color: var(--color--teal);
    font-size: var(--text-size--h3);
    font-weight: 600;
}

#cal-home-mortgage input {
    font-family: var(--font--main);
    border: 3px solid var(--color--text);
    color: var(--color--blue);
    font-weight: 700;
}

#cal-home-mortgage .form-control:disabled {
    background-color: #fff;
}

#cal-home-mortgage .form-control[readonly] {
    background-color: #fff;
}

#cal-home-mortgage .form-label {
    font-family: var(--font--main);
    color: var(--color--text);
    font-weight: 400;
}

#cal-home-mortgage .form-check-label {
    font-family: var(--font--main);
    color: var(--color--blue);
    text-transform: uppercase;
    font-size: var(--text-size--s);
    font-weight: 700;
}

#cal-home-mortgage .form-check-inline {
    margin-top: .625rem;
    margin-bottom: .625rem;
}

#cal-home-mortgage .input-group .input-group-text {
    padding: 0.375rem;
    background-color: #fff;
    border-top: 1px solid #ced4da;
    border-right: none;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    width: 25px;
}

#cal-home-mortgage .form-control {
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
}

#cal-home-mortgage .input-group .form-control {
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left: none;
}

#cal-home-mortgage .form-check-fieldset {
    margin-top: 2rem;
}

#cal-home-mortgage .btn-loan-calculate {
    color: var(--color--blue);
    background-color: var(--color--teal);
    border-color: var(--color--teal);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
}

#cal-home-mortgage .cal-monthly-payment {
    margin-top: 1.875rem;
    margin-bottom: 3.75rem;
    font-family: var(--font--alt);
    font-size: var(--text-size--h1);
    font-weight: 600;
    color: var(--color--blue);
}

#cal-home-mortgage .cal-monthly-payment #cal-monthly-payment-sign {
    border-bottom: 5px solid var(--color--teal);
}

#cal-home-mortgage .cal-monthly-payment #cal-monthly-payment-value {
    border-bottom: 5px solid var(--color--teal);
}

#cal-home-mortgage .cal-disclaimer-accordion {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    color: var(--color--text);
    position: relative;
}

#cal-home-mortgage .cal-disclaimer-accordion .cal-accordion-heading {
    padding: .5rem 0;
    cursor: pointer;
    display: block;
}

#cal-home-mortgage .cal-disclaimer-accordion .cal-accordion-heading::after {
    content: '\02C3';
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: var(--text-size--h1);
    line-height: 0.5;
    font-weight: 300;
}

#cal-home-mortgage .cal-disclaimer-accordion .cal-accordion-heading.active::after {
    content: '\02C5';
}

#cal-home-mortgage .cal-disclaimer-accordion .cal-accordion-body {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#cal-home-mortgage .cal-disclaimer-accordion p {
    margin: 0;
}

#cal-home-mortgage .highlight-text {
    color: #ff1493;
}

@media (max-width: 576px) {
    #cal-home-mortgage .btn-loan-calculate {
        margin-top: 0.5rem;
    }
    
    #cal-home-mortgage .form-check-fieldset {
        margin-top: 0.5rem;
    }
}
